// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
$yellow_collor:#dd9001;

.container_pages
{
    max-width: 1170px;
    margin: auto;
}

/*footer {
    background: #bdbaba;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
}*/


@import 'layouts/course';
@import 'layouts/lecon';
@import 'layouts/profilEtud';
@import 'layouts/cour';
@import 'layouts/exercice';
