.container_etudiant
{
    position: relative;
    height: 800px;
    
    .image
    {
        background-image: url('/image/students.png');
        background-size: cover;
        height: 100%;
        position: relative;
    }
    .overlay_etudiant
    {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.71);
        z-index: 2;
        .content
        {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            background: none;
            text-align: center;
            a
            {   
                display: inline-block;
                text-align: center;
                width: 300px;
                height: 100px;
               // right: 100px;
                padding: 25px 30px;
                margin: 50px;
                text-decoration: none;
                background: #fff;
                border-radius: 5px;
                color: #203052;
                svg
                {
                    height: 25px;
                    width: 25px;
                    color: #203052;
                }
            }
        }
    }
}
